

{erl_opts, [debug_info]}.
{deps, [{cowboy, "1.0.4"},
        {erlware_commons, "0.20.0"}
       ]
}.
{relx, [{release, {'nook_fe', "0.1.0"},
         ['nook_fe',erlware_commons,
          kernel,
	  stdlib,
	  sasl, 
          ssl,
          cowboy,
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load}
         ]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true}
        ]
}.
